<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title >PostBoard Pastebin</title>
    
    <base href="/" />
  </head>
  <body>
    <h1 style="text-align: center;">PostBoard Pastebin</h1>
    <div id="root"></div>
  </body>
</html>